body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f0f0f0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-section, .right-section {
  padding: 40px;
  box-sizing: border-box;
}

.left-section {
  background: black url('../css/background.png') no-repeat center center;
  background-size: cover;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.branding img {
  width: 350px; /* Adjust the size of the logo here */
}


h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.features {
  list-style: none;
  padding: 0;
  text-align: center;
}

.features li {
  margin-bottom: 10px;
}

.right-section {
  background: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ff7f7f;
  color: white;
}

.login-form .forgot-password {
  margin-bottom: 20px;
  color: #ff7f7f;
  text-align: right;
  text-decoration: none;
}

.social-login button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}

.social-login .sso {
  background-color: #f0f0f0;
}

.signup {
  text-align: center;
  margin-top: 20px;
}

.signup a {
  color: #ff7f7f;
  text-decoration: none;
}

.get-help {
  display: block;
  margin-top: 10px;
  color: #ccc;
  text-decoration: none;
}





/* CSS */
.button-3 {
appearance: none;
background-color: #2ea44f;
border: 1px solid rgba(27, 31, 35, .15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 6px 16px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
box-shadow: none;
outline: none;
}

.button-3:hover {
background-color: #2c974b;
}

.button-3:focus {
box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
outline: none;
}

.button-3:disabled {
background-color: #94d3a2;
border-color: rgba(27, 31, 35, .1);
color: rgba(255, 255, 255, .8);
cursor: default;
}

.button-3:active {
background-color: #298e46;
box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  border-color: #000000   ;
  background: #2ea44f;
  padding: 10px 20px;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #2ea44f;
}
.input-box {
  margin-bottom: 10px;
}

.input-box input {
  background: #9b9b9b5b;
  border: 2px solid #979797;
  border-radius: 20px;
  padding: 1rem 2rem;
  width: 100%;
}

.dropdown {
  position: relative;
  width: 480px;
  filter: url(#goo);
}

.dropdown__face,
.dropdown__items {
  background-color: #2ea44f;
  padding: 20px;
  border-radius: 20px;
}

.dropdown__face {
  display: block;
  position: relative;
}

.dropdown__items {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.dropdown__items::before {
  content: "";
  background-color: #2ea44f;
  position: absolute;
  bottom: 100%;
  right: 20%;
  height: 40px;
  width: 20px;
}

.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}

.dropdown input {
  display: none;
}

.dropdown input:checked ~ .dropdown__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}
